<div class="col-md-2">
    <div class="m-form__group m-form__group--inline">
        <div class="m-form__control">
            @Html.DropDownList("IdBoPhan", new SelectList(new string[] { }), new { @id = "ddlBoPhan", @class = "form-control" })
        </div>
    </div>
</div>